<div class="container">
  <header class="d-flex justify-content-center py-2">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a routerLink="get-users" routerLinkActive="active" class="nav-link"
          >Get Users</a
        >
      </li>
      <li class="nav-item">
        <a routerLink="add-users" routerLinkActive="active" class="nav-link"
          >Add User</a
        >
      </li>
    </ul>
  </header>
</div>

<hr />

<!--here lies the next nested component-->
<div class="p-2">
  <router-outlet></router-outlet>
</div>
