<div class="container">
  <header class="d-flex justify-content-center py-2">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a routerLink="get-loans" routerLinkActive="active" class="nav-link"
          >Get Loans</a
        >
      </li>
      <li class="nav-item">
        <a routerLink="add-loans" routerLinkActive="active" class="nav-link"
          >Add Microfinance</a
        >
      </li>
      <li class="nav-item">
        <a routerLink="update-loans" routerLinkActive="active" class="nav-link"
          >Update Loans</a
        >
      </li>
      <!--use the get users and nest a button in there-->
      <!--<li class="nav-item">-->
      <!--  <a routerLink="delete-loans" routerLinkActive="active" class="nav-link"-->
      <!--    >Delete Microfinance</a-->
      <!--  >-->
      <!--</li>-->
    </ul>
  </header>
</div>

<hr />

<!--here lies the next nested component-->
<div class="p-2">
  <router-outlet></router-outlet>
</div>
