<nav class="navbar navbar-expand-lg bg-primary" aria-label="thirteenth navbar">
  <div class="container-xxl">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#simple-navbar"
      aria-controls="simple-navbar"
      aria-expanded="false"
      aria-label="toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse d-lg-flex" id="simple-navbar">
      <a
        class="fs-3 fw-bold text-white navbar-brand col-lg-3 me-0 link-body-emphasis"
        href="#"
        >Micro Panel</a
      >
      <ul class="navbar-nav col-lg-6 justify-content-lg-center fs-5">
        @if (!auth.showStatus()) {
          <li class="nav-item">
            <a
              class="nav-link text-white text-capitalize"
              routerLink=""
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              >home</a
            >
          </li>

          <li class="nav-item">
            <a
              class="nav-link text-white text-capitalize"
              routerLink="pricing"
              routerLinkActive="active"
              >pricing</a
            >
          </li>
        }
      </ul>

      <!--signup/signin button start-->
      <div class="d-lg-flex col-lg-3 justify-content-lg-end">
        <!-- only show when not logged in -->
        @if (!auth.showStatus()) {
          <button
            type="button"
            class="btn btn-outline-light btn-lg text-capitalize"
            routerLink="/login"
          >
            signin
          </button>
        }
      </div>
      <!--signup/signin button end-->
    </div>
    <!--collaspible menu end-->
  </div>
</nav>
