<div class="container-fluid px-1 py-1 mx-auto">
  @if (message()) {
    <!--if success-->
    @if (status() == "success") {
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Congratulations!</strong> {{ message() }}
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="alert"
          aria-label="Close"
        ></button>
      </div>
    } @else if (status() == "error") {
      <!--if error-->
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Oops!</strong> {{ message() }}
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="alert"
          aria-label="Close"
        ></button>
      </div>
    }
  }
  <!--show alert message -->

  <div class="row d-flex justify-content-center">
    <div class="col-xl-7 col-lg-8 col-md-9 col-11 text-center">
      <div class="card">
        <h3 class="text-primary">Sigin to Micro Panel</h3>
        <p class="blue-text">
          Just answer a few questions<br />
          to help us remember who you are.
        </p>
        <form
          class="form-card"
          (ngSubmit)="onSubmit()"
          [formGroup]="signinForm"
        >
          <!-- 1st row -->
          <div class="row justify-content-center text-left">
            <!-- userNameOrEmail -->
            <div class="form-group col-sm-6 flex-column d-flex">
              <label for="username_or_email" class="form-control-label px-3">
                Username/Email <span class="text-danger"> *</span></label
              >
              <input
                class="form-control"
                formControlName="username_or_email"
                type="text"
                placeholder="Enter username/email..."
              />
              @if (
                signinForm.get("username_or_email")?.touched ||
                signinForm.get("username_or_email")?.dirty
              ) {
                @if (
                  signinForm.get("username_or_email")?.hasError("required")
                ) {
                  <span class="fst-italic fs-6 text-danger"
                    >Username/Email is required
                  </span>
                }
              }
            </div>
          </div>

          <!-- 2nd row -->
          <div class="row justify-content-center text-left">
            <!-- password -->
            <div class="form-group col-sm-6 flex-column d-flex">
              <label for="password" class="form-control-label px-3">
                Password <span class="text-danger"> *</span></label
              >
              <input
                class="form-control"
                formControlName="password"
                type="password"
                placeholder="Enter password..."
              />
              @if (
                signinForm.get("password")?.touched ||
                signinForm.get("password")?.dirty
              ) {
                @if (signinForm.get("password")?.hasError("required")) {
                  <span class="fst-italic fs-6 text-danger"
                    >Password is required
                  </span>
                }
              }
            </div>
          </div>

          <!-- button -->
          <div class="row justify-content-center mt-4">
            <div class="col-sm-6 d-grid">
              <!--[disabled]="signinForm.invalid"-->
              <button class="btn btn-primary btn-lg text-capitalize">
                signin
              </button>
            </div>
          </div>
        </form>
        <!-- login instead section -->
        <p class="justify-content-center fst-italic text-capitalize pt-3">
          don't have an account yet?
          <a routerLink="/signup" class="fw-bolder"> register </a>
          instead
        </p>
      </div>
    </div>
  </div>
</div>
